<div class=" pt-40 w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800" id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
      <li class="me-2">
          <button id="about-tab" data-tabs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true" class="inline-block p-4 text-blue-600 rounded-ss-lg hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-blue-500">Trip</button>
      </li>
      <li class="me-2">
          <button id="services-tab" data-tabs-target="#services" type="button" role="tab" aria-controls="services" aria-selected="false" class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300">Accommodation</button>
      </li>
      <li class="me-2">
          <button id="statistics-tab" data-tabs-target="#statistics" type="button" role="tab" aria-controls="statistics" aria-selected="false" class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300">Facts</button>
      </li>
  </ul>
  <div id="defaultTabContent">
      <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="about" role="tabpanel" aria-labelledby="about-tab">
          <h2 class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"><%= @trip.name %></h2>
          <p class="mb-3 text-gray-500 dark:text-gray-400">Location: <span class="text-gray-500"><%= @trip.location %></span></p>
          <p class="mb-3 text-gray-500 dark:text-gray-400">Travel dates:<span class="text-gray-500"><%= @trip.start_date %> - <%= @trip.end_date %></span></p>
          <p>
            <strong>Total Budget</strong>
              <p><%= @trip.total_budget %></p>

            <strong>Total Expenses</strong>
              <p><%= @trip.total_expenses %></p>
          </p>
          <%= link_to edit_trip_path(@trip.id), class: "inline-flex items-center font-medium text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700" do %>
          Edit
            <%= tag.svg class: "w-2.5 h-2.5 ms-2 rtl:rotate-180", aria_hidden: "true", xmlns: "http://www.w3.org/2000/svg", fill: "none", viewBox: "0 0 6 10" do %>
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            <% end %>
          <% end %>
      </div>
      <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="services" role="tabpanel" aria-labelledby="services-tab">
          <h2 class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white">Where are you staying?</h2>
          <% if @accommodations.empty? %>
            <%= link_to new_trip_accommodation_path(@trip.id), class: "inline-flex items-center font-medium text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700" do %>
                Add Accommodation
                <%= tag.svg class: "w-2.5 h-2.5 ms-2 rtl:rotate-180", aria_hidden: "true", xmlns: "http://www.w3.org/2000/svg", fill: "none", viewBox: "0 0 6 10" do %>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                <% end %>
          <% end %>
          <% end %>
          <!-- List -->
          <ul role="list" class="space-y-4 text-gray-500 dark:text-gray-400">
          <% @accommodations.each do |accommodation| %>

              <li class="flex space-x-2 rtl:space-x-reverse items-center">
                  <svg class="flex-shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                  </svg>
                  <span class="leading-tight"><%= accommodation.name %>
                  </span>
              </li>
              <li class="flex space-x-2 rtl:space-x-reverse items-center">
                  <svg class="flex-shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                  </svg>
                  <span class="leading-tight"><%= accommodation.address %>
                  </span>
              </li>
              <li class="flex space-x-2 rtl:space-x-reverse items-center">
                  <svg class="flex-shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                  </svg>
                  <span class="leading-tight"><%= accommodation.check_in %>
                  </span>
              </li>
              <li class="flex space-x-2 rtl:space-x-reverse items-center">
                  <svg class="flex-shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                  </svg>
                  <span class="leading-tight"><%= accommodation.check_out %>
                  </span>
              </li>
          </ul>
          <%= link_to edit_trip_accommodation_path(@trip.id, accommodation.id), class: "inline-flex items-center font-medium text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700" do %>
          Edit
            <%= tag.svg class: "w-2.5 h-2.5 ms-2 rtl:rotate-180", aria_hidden: "true", xmlns: "http://www.w3.org/2000/svg", fill: "none", viewBox: "0 0 6 10" do %>
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            <% end %>
          <% end %>
          <% end %>

      </div>
      <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
          <dl class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-6 dark:text-white sm:p-8">
              <div class="flex flex-col">
                  <dt class="mb-2 text-3xl font-extrabold">73M+</dt>
                  <dd class="text-gray-500 dark:text-gray-400">Developers</dd>
              </div>
              <div class="flex flex-col">
                  <dt class="mb-2 text-3xl font-extrabold">100M+</dt>
                  <dd class="text-gray-500 dark:text-gray-400">Public repositories</dd>
              </div>
              <div class="flex flex-col">
                  <dt class="mb-2 text-3xl font-extrabold">1000s</dt>
                  <dd class="text-gray-500 dark:text-gray-400">Open source projects</dd>
              </div>
          </dl>
      </div>
  </div>
</div>




