<h1 class="text-6xl">Create a New Trip!</h1>

<%= form_with url: user_trips_path(current_user.id), method: :post, data: { turbo: false } do |f| %> 
<%= f.label :name, 'Trip Name' %>
<%= f.text_field :name %> <br />

<%= f.label :location %>
<%= f.text_field :location %> <br />

<%= f.label :start_date %>
<%= f.date_field :start_date %> <br />

<%= f.label :end_date %>
<%= f.date_field :end_date %> <br />

<%= f.label :total_budget %>
<%= f.number_field :total_budget %> <br />

  <%= f.submit "Submit" %>
<% end %>
