<h1 class="text-6xl">Create a New Trip!</h1>

<%= simple_form_for :trip, url: trips_path(current_user.id), method: :post, data: { turbo: false } do |f| %>
  <%= f.input :name, label: 'Trip Name' %>
  <%= f.input :location %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.input :total_budget, as: :integer %>

  <%= f.button :submit %>
<% end %>
