<h1><%= @trip.name %></h1>

<p>Location: <%= @trip.location %></p>
<p><%= @trip.start_date %> - <%= @trip.end_date %></p>
<div><%= link_to 'Edit', edit_user_trip_path(@user, @trip.id) %></div>

<h2>Accommodation</h2>
    <% @accommodations.each do |accommodation| %>
        <p><%= accommodation.name %></p>
        <p><%= accommodation.address %></p>
        <p>Check In: <%= accommodation.check_in %></p>
        <p>Check Out: <%= accommodation.check_out %></p>
        <div><%= link_to 'Edit', edit_user_trip_accommodation_path(@user, @trip.id, accommodation.id) %></div>
        <div><%= link_to 'Create Accommodation', new_user_trip_accommodation_path(@user, @trip.id) %></div>
        <div><%= button_to 'Delete', user_trip_accommodation_path(@user, @trip.id, accommodation.id), method: :delete %></div>
    <% end %>

<h3>Itineraries</h3>
    <% @daily_itineraries.each do |daily_itinerary| %>
        <section> 
            <span><%= daily_itinerary.date %></span>
            <div><%= link_to 'Create Activity', new_user_trip_daily_itinerary_activity_path(@user, @trip.id, daily_itinerary.id) %></div>
            <ol>
                <% @activities[daily_itinerary.date].each do |activity| %>
                <li>
                    Name: <%= activity.name %><br/>
                    Description: <%= activity.description %>
                    <div><%= link_to 'Edit', edit_user_trip_daily_itinerary_activity_path(@user, @trip.id, daily_itinerary.id, activity.id) %></div>
                    <div><%= button_to 'Delete', user_trip_daily_itinerary_activity_path(@user, @trip.id, daily_itinerary.id, activity.id), method: :delete %></div>
                </li>
            <% end %>
            </ol>
        </section>
    <% end %>

<strong>Total Budget</strong>
    <p><%= @trip.total_budget %></p>

<strong>Total Expenses</strong>
    <p><%= @trip.total_expenses %></p>