<h1>Log in to continue planning your trip</h1>

<%= form_with url: user_login_path, method: :post do |form| %>
  <%= form.label :email, "Email:" %>
  <%= form.text_field :email %>
  <%= form.label :password, "Password:" %>
  <%= form.password_field :password %>
  <%= form.submit "Log In" %>
<% end %>

<p>Or</p><br>

<%= link_to "Log In with Google", "/auth/google_oauth2", class: "btn btn-lg btn-outline-secondary"%>

