<div class="container mint-cream top-border">
  <h1 class="text-6xl">Welcome <%= @user.full_name %>!</h1>
</div>
<%= link_to 'Plan a new Trip', new_trip_path%>

<div class="current-trips">
  <h2 class="text-4xl">Current Trips</h2>
    <ul>
      <% @trips.each do |trip| %>
        <% if trip.status != "completed" %>
          <li>
            <%= link_to trip.name, trip_path(trip.id), data: { turbo_method: :get } %> - <%= link_to "Delete", trip_path(trip.id), local: true, data: { turbo_method: :delete } %>
          </li>
        <% end %>
      <% end %>
    </ul>
</div>

<div class="past-trips">
  <h2 class="text-4xl">Past Trips</h2>
    <ul>
      <% @trips.each do |trip| %>
        <% if trip.status != "in_progress" %>
          <li>
            <%= link_to trip.name, trip_path(trip.id), data: { turbo_method: :get } %> - <%= link_to "Delete", trip_path(trip.id), local: true, data: { turbo_method: :delete } %>
          </li>
        <% end %>
      <% end %>
    </ul>
</div>
