<nav class="container mx-auto">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <%= link_to root_path, class: "flex items-center space-x-3 rtl:space-x-reverse", data: { turbo_method: :get } do %>
    <br>
      <%= image_tag("second_logo.png", alt: 'Hop-Hop Carrot Logo', id: 'logo')%>
      <span class="mulish">Hop Hop!</span>
    <% end %>
    <% if current_user %>
    <div class="">
      <ul>
        <li>
          <div class="">
            <%= link_to 'Discover', discover_index_path, class: "link border rounded-md", data: { turbo_method: :get } %>
          </div>
        </li>
        <li>
          <div class="">
            <%= link_to 'Dashboard', dashboard_path, class: "link border rounded-md", data: { turbo_method: :get } %>
          </div>
        </li>
        <li>
          <div class="">
            <%= link_to 'Edit Profile', edit_user_registration_path, class: "link border rounded-md", data: { turbo_method: :get } %>
          </div>
        </li>
        <li>
          <div class="">
            <%= link_to 'Log Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "link border rounded-md" %>
          </div>
        </li>
      </ul>
    </div>
    <% else %>
      <div class="">
        <%= link_to 'Log In',  new_user_session_path, class: "link border rounded-md", data: { turbo_method: :get } %>
      </div>
      <div class="">
        <%= link_to 'Sign Up', new_user_registration_path, class: "link border rounded-md", data: { turbo_method: :get } %>
      </div>
    <% end %>
  </div>
</nav>
