<div class="pt-40">
  <% if discover_facade.empty? %>
  <div id="search-form">
    <%= render "search" %>
  </div>
<% else %>
  <div id="search-form">
    <%= render "search" %>
  </div>

  <div id="JSON" data-info=" <%= discover_facade.json_data %>"></div>
  <div id="results">
    <%= render "results" %>
  </div>
<% end %>

<%= render "/shared/map" %>
</div>

