<h1>Create Activity</h1>
<div data-controller="activities">
    <div id="searchForm">
    </div>
<%= form_with url: trip_daily_itinerary_activities_path(params[:trip_id], params[:daily_itinerary_id]), data: {turbo: false}, local: true do |f| %>
    <%= f.label :name, "Activity Name" %>
    <%= f.text_field :name %>

    <%= f.label :address, "Address" %>
    <%= f.text_field :address %>

    <%= f.label :expenses, "Expense" %>
    <%= f.text_field :expenses %>

    <%= f.label :description, "Description" %>
    <%= f.text_field :description %>

    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lot %>

    <%= f.submit "Create Activity" %>
<% end %>
</div>
