<!DOCTYPE html>
<html>
  <head>
    <title>HopHopFe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Log Out", "/logout" %>
    <% else %>
      <%= link_to "Sign Up", register_user_path %> or
      <%= link_to "Log In", user_login_path %>
    <% end %>

    <div id="mainBody" class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
